* {








}

:root {
    --main-color: #0065fc;
    --main-bg-color: #000000;
    --filter-bg-color: #020202;
    --secondary-bg-color: #FEA938;
  }


/* Header reservé à Mohammed */




































































































/* Main reservé à Alderico */





































































































/* Footer reservé à Emmanuel */



































































































